extends layout 

block content 
    h1= movie.name 
    form(method="POST" action="/movie/edit/" + movie._id)
        #form-group 
            label name:
            input.form-control(name="name" type="text" value=movie.name)

        #form-group 
            label director:
            input.form-control(name="director" type="text" value=movie.director)

        #form-group 
            label duration:
            input.form-control(name="duration" type="number" value=movie.duration)

        #form-group 
            label Genres:
            //- Loop through genres to assign values to checkboxes
            for genre in genres
                //- Check if movie genres has value of genre to assign checked
                if movie.genres.includes(genre)
                    input.form-control(name="genres" type="checkbox" value=genre checked=true)
                else
                    input.form-control(name="genres" type="checkbox" value=genre)
                
                label= genre

        #form-group 
            label Rating:
            input.form-control(name="rating" type="number" value=movie.rating)

        br
        input.btn.btn-primary(type="submit" value="Submit")

