extends layout

block content
    if user
        h3 Welcome back #{user.name}!
    h1 moviestore
    //- Loop through all movies
    each movie in movies 
        //- Display name, director, duration, rating
        label name:
        //- Link to movie with id
        a(href="/movie/" + movie._id) #{movie.name}
        p director: #{movie.director}
        p duration: #{movie.duration}
        p Rating: #{movie.rating}
        p Genres:
        ul
        //- Loop through genres and print as list
        each genre in movie.genres
            li #{genre}

        br
        br
