extends layout 

block content 
    h1= movie.name
    h5 Description #{movie.description}
    h5 Added by: #{added_by}
    p Rating: #{movie.rating}
    p Year: #{movie.year}
    label Genres:
    ul
    each genre in movie.genres
        li #{genre}

    hr
    //- //- If user logged in
    //- if user
    //-     //- Hide edit and delete unless book was posted by current user
    //-     if user._id == book.posted_by
    //-         //- Link to edit book
    a.btn.btn-default(href="/movie/edit/" + movie._id) Edit Movie
    br
    //- Link to delete book
    a.btn.delete-movie(href="#", data-id=movie._id) Delete Movie