extends layout

block content
    h1= recipe.name
    h5 Description: #{recipe.description}
    h5 Difficulty: #{recipe.difficulty}
    label Ingredients:
    ul
    each ingredient in recipe.ingredients
        li #{ingredient}

    label Steps:
    ol
    each step in recipe.steps
        li #{step}

    hr
    a.btn.btn-default(href="/recipes/edit/" + recipe._id) Edit Recipe
    br
    a.btn.delete-recipe(href="#", data-id=recipe._id) Delete Recipe